body {background-color: navy;}

h1 {background-color: black;
color: white;
font-family: "Lobster";
font-size: 64px;
border: 2px dotted skyblue;
border-radius: 5px;}

h2 {background-color: black;
color: white;
font-family: "Lobster";
font-size: 64px;
border: 2px dotted skyblue;
border-radius: 5px;}

h3 {background-color: black;
color: white;
font-family: "Lobster";
font-size: 56px;
border: 2px dotted skyblue;
border-radius: 5px;}

p {background-color: white;
  color: black;
  font-family:"Lobster";
  font-size: 40px;
  border: 2px dotted white;
  border-radius: 5px;}

nav {float: none;}
nav ul li {list-style-type: none;}
