body {background-color: magenta;}

h1 {background-color: navy;
color: black;
font-family: "Lobster";
font-size: 64px;
border: 2px dotted black;
border-radius: 5px;}

h2 {background-color: black;
color: navy;
font-family: "Lobster";
font-size: 60px;
border: 2px dotted navy;
border-radius: 5px;}

h3 {background-color: navy;
color: black;
font-family: "Lobster";
font-size: 64px;
border: 2px dotted black;
border-radius: 5px;}

nav {float: none;}
nav ul li {list-style-type: none;}
